//variables
$light-grey: rgb(226, 225, 223);
$dark-grey: rgb(105, 108, 109);
$purple-blue: rgb(60, 58, 72);
$black: rgb(36, 41, 44);
$red: rgb(230, 68, 72);
$accent--light-blue: rgb(48, 170, 179);
$accent-yellow: rgb(234, 178, 68);
$dark-blue: rgb(11, 53, 75);
$accent-sky-blue: rgb(137, 197, 199);
