@use "colors" as c;
@use "fonts";
@use "signup";
@use "bikes";
@use "header";
@use "paragraphs";
@include fonts.mainFonts;
@include signup.signUp;
@include bikes.bikes;
@include header.headerMain;
@include paragraphs.paragraph;
html {
  font-size: 18px;
}
.headerMain {
  @include headerMain;
}
.bikes {
  @include bikes;
}
.signup {
  @include signUp;
}
p {
  @include paragraph;
}

h2 {
  font-family: "Miso Bold", "Montserrat Bold", sans-serif;
  font-size: 2rem;
  line-height: 22.6px;
  letter-spacing: -0.025em;
  color: c.$red;
  text-align: center;
  margin: 0;
}

.local,
.about {
  background-color: c.$light-grey;
}
